<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">

<dom-module id="mi-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <fieldset>
      <legend>Iniciar sesión</legend>
      <template is="dom-if" if="[[!acceso]]" restamp>

      </template>
      <form>
          <div>
            <paper-input label="Email" id="email" required type="email"></paper-input>
            <paper-input label="Contraseña" id="pass" type="password" required></paper-input><br>
            <button id="aceptar" on-click='inicio'>Aceptar</button>
            <button id="cancelar" on-click='cancelar'>Cancelar</button>
          </div>
      </form>
      </fieldset>
    


  </template>

  <script>
    /**
     * `mi-login`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiLogin extends Polymer.Element {
      static get is() { return 'mi-login'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-login'
          }
        };
      }
      inicio(){
        alert ("Inicio de Sesión");
      }
      cancelar(){
        alert("Cancelar");
      }
    }

    window.customElements.define(MiLogin.is, MiLogin);
  </script>
</dom-module>
